h1 {
  font-family: 'Courier New', Courier, monospace;
}

input {
  height: 34px;
  border-radius: 10px;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 10px;
  color: white;
  transition: 0.2s linear;
  background: #0b63f6;
}

button:hover {
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}

.line-through {
  text-decoration: line-through;
}
