@font-face {
	font-family: 'Intro';
	src: url('../fonts/intro.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/intro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/intro.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/intro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/intro.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/intro.svg#intro') format('svg'); /* Chrome < 4, Legacy iOS */
}